<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <modules>
    <module assemblyFile="UnityDialogModule.dll" moduleType="UnityDialogModule.UnityDialogModule, UnityDialogModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UnityDialogModule" startupLoaded="true" />
    <module assemblyFile="InputOutputModule.dll" moduleType="InputOutputModule.InputOutputModule, InputOutputModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="InputOutputModule" startupLoaded="true" />
    <module assemblyFile="CalculatorModule.dll" moduleType="CalculatorModule.CalculatorModule, CalculatorModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="CalculatorModule" startupLoaded="true" >
      <dependencies>
        <dependency moduleName="UnityDialogModule" />
      </dependencies>
    </module>
  </modules>
</configuration>