<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <modules>
    <module assemblyFile="UnityTCoreControl.dll" moduleType="UnityTCoreControl.UnityTCoreControlModule, UnityTCoreControl, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UnityTCoreControlModule" startupLoaded="true" />
    <module assemblyFile="UnityAutowireControl.dll" moduleType="UnityAutowireControl.UnityAutowireControlModule, UnityAutowireControl, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UnityAutowireControlModule" startupLoaded="true" />
  </modules>
</configuration>