<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>-->
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <modules>
    <module assemblyFile="MEFTCoreControl.dll" moduleType="MEFTCoreControl.TCoreControlA, MEFTCoreControl, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TCoreControlA" startupLoaded="true" />
    <!--<module assemblyFile="MEFTCoreControl.dll" moduleType="MEFTCoreControl.TCoreControlA, MEFTCoreControl, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="TCoreControlA" startupLoaded="false">
      <dependencies>
        <dependency moduleName="ModuleE"/>
      </dependencies>
    </module>-->
  </modules>
</configuration>